.contact
  margin-top: 5%
  color: $secondary-color
  h2
    margin-left: 20%
    margin-right: 10%
    margin-bottom: 5%
    padding: .5rem
    font-size: 2.1rem 
    text-align: center
    font-family: $main-font
    background-color: $main-color
  form
    display: flex
    flex-direction: column
    font-family: $secondary-font
    color: black
    .inputs,
    .message
      display: flex
      flex-wrap: wrap
      label, input[type=submit]
        min-width: 60%
        padding: .3rem .5rem
        margin: 2% 5% 2% 2%
        background-color: $secondary-color
        font-size: 1.3rem
      input[type=submit]
        border-bottom: 2px solid $main-color
      input[type=text], 
      input[type=email]
        width: 70%
        margin-left: 30%
        text-align: center
        font-size: 1rem
        color: #f3ddc3
      input, textarea
        margin: 2% 5% 2% 0
        padding: .2rem
        border: none
        font-family: $secondary-font
        background-color: $main-color
      textarea
        height: 10rem 
        width: 80%
        margin: 2% auto
        font-size: 1.2rem
        color: #f3ddc3
      textarea::placeholder,
      input::placeholder
        color: #eee3d6a2
      textarea:focus,
      input:focus
        outline: none
      input[type=submit]:active      
        border-bottom: none
        border-top: 2px solid $secondary-color