footer
  margin-top: 5%
  background-color: $main-color
  h2
    padding: .4rem 0
    letter-spacing: .2rem
    text-align: center
    font-family: $secondary-font
    font-size: 1rem
    color: #f3ddc3

@media #{$tablet}
  footer
    h2
      font-size: 1.3rem

@media #{$tablet-landscape}
  footer
    margin-top: 2%
    h2
      font-size: 1.3rem