footer
  // width: 100%
  margin-top: 5%
  background-color: $main-color
  // font-size: 1rem
  &.ngMode
    background-color: $secondary-color
  h2
    // padding: 1rem
    letter-spacing: .2rem
    text-align: center
    font-family: $secondary-font
    color: #f3ddc3
    &.ngMode
      color: $main-color
  