header
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  width: 77vw 
  height: 60vw
  margin: 3% 0% 2% 17%
  padding: 0.8rem
  padding-left: 1.5rem
  background-color: rgb(7, 49, 93)
  h1
    font-family: 'Montserrat', sans-serif
    font-size: 2.8rem
    letter-spacing: 0.2rem
    color: rgb(238, 181, 116)
  h2
    font-family: 'Roboto Mono', monospace
    font-size: 1.5rem
    letter-spacing: 0.1rem
    color: white