header
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  width: 77vw 
  height: 60vw
  margin: 3% 0% 2% 17%
  padding: 0.8rem
  padding-left: 1.5rem
  background-color: rgb(7, 49, 93)
  h1
    font-family: 'Montserrat', sans-serif
    font-size: 2.5rem
    letter-spacing: 0.2rem
    color: rgb(238, 181, 116)
  h2
    font-family: 'Roboto Mono', monospace
    font-size: 1.5rem
    letter-spacing: 0.1rem
    color: white

@media #{$phone-landscape}
  header
    width: 67vw
    height: 40vw 
    max-height: 20em
    white-space: nowrap
    padding: 2rem   
    margin-left: 30%
    h1
      font-size: 2.8rem
    h2
      font-size: 1.8rem

@media #{$tablet}
  header
    height: 40vw
    max-height: 20em
    width: 66vw
    justify-content: space-evenly
    margin-left: 30%
    h1
      font-size: 3.3em
    h2
      font-size: 2em

@media #{$tablet-landscape}
  header
    max-height: 40vw
    h1
      font-size: 4em
    h2
      font-size: 2.8em