.projects
  margin-top: 5%
  .arrow
    display: flex
    justify-content: center
    align-items: center
    margin-right: 7.5%
    border: none
    background: transparent
  .flexForButton 
    display: flex 
    justify-content: flex-end
    .number-of-projects 
      display: flex
      justify-content: space-evenly
      align-items: center
      width: 20%
    span
      margin: .2rem
      font-size: 1rem
      font-style: italic
      color: #55575a
    .fas    
      font-size: 2.5rem
      color: $main-color
  .intro  
    width: 80vw
    margin-left: 4%
    padding: 1rem
    background-color: $main-color
    h2
      font-size: 2.3rem
      letter-spacing: 0.1rem
      font-family: $main-font
      color: $secondary-color
    p
      padding-top: .4rem
      padding-bottom: .3rem
      font-size: 1.2rem
      font-family: $secondary-font
      color: #f3ddc3
  .project
    display: none
  .project.visible
    display: flex
    flex-direction: column
    h3
      width: 50%
      margin: 3% 0 3% 40%
      padding: .5rem
      text-align: center
      font-family: $main-font
      font-size: 1.7rem
      color: $main-color
      background-color: $secondary-color
    img
      width: 85%
      margin: 0 auto
      font-family: $secondary-font
    p
      font-family: $secondary-font
      font-size: 1.3rem
    p.desc
      width: 80%
      height: 12rem
      margin: 3% auto 0
      padding: .6rem
      color: #f3ddc3
      background-color: $main-color
      overflow-x: hidden
      overflow-y: auto
      span
        display: block
        font-weight: 600
        color: #ddaa6b
    p.tech
      display: flex
      justify-content: center
      flex-wrap: wrap
      width: auto
      margin-top: 2%
      background-color: transparent
      span
        width: 30%
        margin: 2% 3%
        text-align: center
        font-weight: 400
        color: #121a22
        background-color: transparent
        border-radius: 45px
        cursor: default
        transition-duration: .3s
        transition-property: background-color, color
      .sass
        border: solid 3px #CF649A
      .js
        width: 50%
        border: solid #ebcd00 3px
      .css
        border: solid #0D8BF2 3px
      .html
        border: solid #E54C21 3px
      .react
        border: solid #61DAFB 3px

@media #{$phone-landscape}
  .projects
    .project.visible
      p.desc
        display: flex
        flex-direction: column
        justify-content: space-between
      p.tech
        span
          width: 20%
          margin: 1% 2%
          &.js
            width: 30%



@media #{$tablet}
    .projects 
      .intro 
        h2 
          font-size: 2.7rem 
        p 
          font-size: 1.5rem 
      .project.visible 
        h3 
          margin-left: 40%
          font-size: 2.4rem 
        img 
          width: auto 
        p
          font-size: 1.6rem 
          &.desc
            height: 12rem
          &.tech
            margin-top: 0
            span
              width: 20%
              &.js
                width: 30%
      .arrow 
        span 
          font-size: 1.2rem

@media #{$tablet-landscape}
  .projects
    .intro
      h2
        font-size: 2.6rem
      p
        font-size: 1.4rem
    .project.visible
      h3
        font-size: 2rem
      img
        width: auto
      p
        font-size: 1.5rem
        &.desc
          display: flex
          flex-direction: column
          justify-content: space-between
        &.tech
          width: 80%
          margin: 2% auto 0
          span
            max-width: 15%
            &.js
              max-width: 30%
    .arrow
      span
        font-size: 1.1rem

@media #{$monitor-small}
  .projects
    .intro
      width: 75%
      h2
        font-size: 2.8rem
      p
        font-size: 1.6rem
    .project.visible
      h3
        width: 40%
        margin-left: 60%
        font-size: 2.5rem
      img
        width: auto
      p
        font-size: 1.8rem
        &.tech
          span
            &.sass
              &:hover
                background-color: #CF649A
                color: #fdfbf9
            &.js
              &:hover
                background-color: #ebcd00
            &.css
              &:hover
                background-color: #0D8BF2
                color: #fdfbf9
            &.html
              &:hover
                background-color: #E54C21
                color: #fdfbf9
            &.react
              &:hover
                background-color: #61DAFB
    .arrow
      span, 
      i
        font-size: 1.4rem

@media #{$monitor-large}
  .projects
    .project
      p