.skills
  margin-top: 5%
  h2
    margin-left: 20%
    margin-right: 10%
    margin-bottom: 5%
    padding: .5rem
    font-size: 2rem
    font-family: $main-font
    text-align: center
    background-color: $main-color
    color: $secondary-color
  .skills-flex-parent
    display: flex
    flex-direction: column
    h3
      padding: .5rem
      letter-spacing: .2rem
      font-family: $main-font
      font-size: 1.6rem
    ul
      margin: 1%
    li 
      display: flex
      justify-content: space-between
      align-items: center
      margin-top: 1%
      margin-bottom: 1%  
      padding: .2rem
      list-style: none
      font-family: $secondary-font
      font-size: 1.3rem
      span
        max-width: 50%
        // flex-grow: 1 
        // text-align: center
      .skill-zone
        height: 1.1rem
        width: 10rem
        border: 2px solid black
        border-radius: 90px
        overflow: hidden
        .skill-level
          height: 1.3rem
          width: 10rem
          &.html
            width: 50%
            background-color: #d3831cdc
          &.css
            width: 40%
            background-color: #d4b818dc
          &.js
            width: 30%
            background-color: #cc4117dc
          &.react
            width:  20% 
            background-color: #b81a05dc
          &.english
            width: 60% 
            background-color: #359019dc
          &.organization
            width: 50% 
            background-color: #d3831cdc
          &.deadline
            width: 40% 
            background-color: #d4b818dc
          &.comunication
            width: 80% 
            background-color: #0562b8dc
    .skills-programing-parent
      // flex-basis: 0
      // flex-grow: 1
      .line
        height: .2rem
        background-color: $main-color
      // border-top: 2px $main-color solid
      // border-right: 2px $main-color solid
    .skills-general-parent 
      // flex-basis: 0
      // flex-grow: 1
      .line
        height: .2rem
        background-color: $secondary-color
      ul
        li
          span
            // width: 50%
            // word-break: break-word
            // max-width: 40%
      // border-top: 2px $secondary-color solid
      // border-left: 2px $secondary-color solid
      h3
        text-align: right   
      ul
        display: flex
        flex-direction: column
        & li
          text-align: right    
          flex-direction: row-reverse
          justify-content: space-between