.skills
  margin-top: 5%
  h2
    margin-left: 20%
    margin-right: 10%
    margin-bottom: 5%
    padding: .5rem
    font-size: 2rem
    font-family: $main-font
    text-align: center
    background-color: $main-color
    color: $secondary-color
  .skills-flex-parent
    display: flex
    flex-direction: column
    h3
      padding: .5rem
      letter-spacing: .2rem
      font-family: $main-font
      font-size: 1.6rem
    ul
      margin: 1%
    li 
      display: flex
      justify-content: space-between
      align-items: center
      height: 3.2rem
      margin-top: 1%
      margin-bottom: 1%  
      padding: .2rem
      list-style: none
      font-family: $secondary-font
      font-size: 1.3rem
      span
        max-width: 50%
      .skill-zone
        display: flex
        flex-direction: row
        justify-content: space-between
        height: 1.1rem
        width: 10rem
        border-radius: 90px
        .bar
          width: 18%
          border: black solid 2px
          transform: skew(-10deg)
          &:nth-of-type(1)
            border-top-left-radius: 45px
            border-bottom-left-radius: 45px
          &:nth-last-of-type(1)
            border-top-right-radius: 45px
            border-bottom-right-radius: 45px
          &.beg
            background-color: #da1900fb
          &.inter
            background-color: #ec950a
          &.adv
            background-color: #ceca10dc
          &.exp
            background-color: #1ab83cdc
          &.leg
            background-color: #1784ccdc
    .skills-programing-parent
      .line
        height: .2rem
        background-color: $main-color
    .skills-general-parent 
      .line
        height: .2rem
        background-color: $secondary-color
      h3
        text-align: right   
      ul
        display: flex
        flex-direction: column
        .skill-zone
          flex-direction: row-reverse
          .bar
            &:nth-of-type(1) 
              border-top-left-radius: 0
              border-bottom-left-radius: 0
              border-top-right-radius: 45px
              border-bottom-right-radius: 45px
            &:nth-last-of-type(1)
              border-top-right-radius: 0
              border-bottom-right-radius: 0
              border-top-left-radius: 45px
              border-bottom-left-radius: 45px
        & li
          text-align: right    
          flex-direction: row-reverse
          justify-content: space-between