.skills
  margin-top: 5%
  h2
    margin-left: 20%
    margin-right: 10%
    margin-bottom: 5%
    padding: .5rem
    font-size: 2rem
    font-family: $main-font
    text-align: center
    background-color: $main-color
    color: $secondary-color
  .skills-flex-parent
    display: flex
    flex-direction: column
    h3
      color: #121a22
      padding: .5rem
      letter-spacing: .2rem
      font-family: $main-font
      font-size: 1.6rem
    ul
      margin: 1%
    li 
      display: flex
      justify-content: space-between
      align-items: center
      height: 3.2rem
      margin-top: 1%
      margin-bottom: 1%  
      padding: .2rem
      list-style: none
      font-family: $secondary-font
      font-size: 1.3rem
      span
        max-width: 50%
        color: #1b3147
        font-weight: 600
      .skill-zone
        display: flex
        flex-direction: row
        justify-content: space-between
        height: 1.1rem
        width: 10rem
        border-radius: 90px
        .bar
          width: 100%
          border: rgb(26, 35, 44) solid 2px
          overflow: hidden
          background-color: rgb(27, 49, 71)
          background-image: linear-gradient(to right, rgb(243, 221, 195) 70%,
          rgb(27, 49, 71))
          background-size: 0
          background-repeat: no-repeat
          border-top-left-radius: 45px
          border-bottom-left-radius: 45px
          border-top-right-radius: 45px
          border-bottom-right-radius: 45px
          animation-duration: 1.4s
          animation-delay: 10s
          animation-fill-mode: both
          &.animationFillNov
            animation-name: fillUpBarNov
          &.animationFillBeg
            animation-name: fillUpBarBeg
          &.animationFillInt
            animation-name: fillUpBarInt
          &.animationFillAdv
            animation-name: fillUpBarAdv
          &.animationFillElite
            animation-name: fillUpBarElite
    .skills-programing-parent
      .line
        height: .2rem
        background-color: $main-color
    .skills-general-parent 
      .line
        height: .2rem
        background-color: $secondary-color
      h3
        text-align: right   
      ul
        display: flex
        flex-direction: column
        .skill-zone
          flex-direction: row-reverse
        & li
          text-align: right    
          flex-direction: row-reverse
          justify-content: space-between

@media #{$phone-landscape}
  .skills
    h2
      margin-left: 30%
      margin-right: 5%

@media #{$tablet-landscape}
  .skills
    h2
      margin-left: 35% 
      margin-right: 3%
    .skills-flex-parent
      h3
        font-size: 2.1rem
      .skills-programing-parent,
      .skills-general-parent
        .line
          height: .3rem
      li
        span
          font-size: 1.6rem
        .skill-zone
          .bar
            height: 1.3rem
