// resolutions
$phone-landscape: "(min-width: 360px) and (max-width: 720px) and (orientation: landscape)"
$tablet: "(min-width: 721px) and (max-width: 1023px)"
$tablet-landscape: "(min-width: 721px) and (max-width: 1023px) and (orientation: landscape)"
$small-screen: "(min-width: 1024px) and (max-width: 1536px)"
$large-screen: "(min-width: 1537px)"