// resolutions
$phone-landscape: "(max-width: 767px) and (orientation: landscape)"
$tablet: "(min-width: 768px)"
$tablet-landscape: "(min-width: 768px) and (orientation: landscape)"
$monitor-small: "(min-width: 1280px)"
$monitor-large: "(min-width: 1536px)"

//fonts
$main-font: 'Montserrat', sans-serif
$secondary-font: 'Roboto Mono', monospace

//colors
$main-color: rgb(26, 35, 44)
$secondary-color: rgb(255, 205, 149)
// main sibkling color rgb(27, 49, 71)
// sec color sibling #f3ddc3
// $secondary-color: ##f3ddc3dd994b
// 253, 251, 249
