@import '_animations'
@import '_variables'
@import '_header'
@import '_about'
@import '_skills'
@import '_projects'
@import '_contact'
@import '_footer'

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background-color: #fdfbf9
  &.ngMode
    background-color: #2d4258
    color: white

.btn
  position: absolute
  top: 0
  left: 0
  margin: 2%
  z-index: 1
  border: none
  text-align: center
  font-size: 10vw
  color: $main-color
  background-color: transparent
  &.ngMode
    color: $secondary-color