@import '_animations'
@import '_variables'
@import '_header'
@import '_about'
@import '_skills'
@import '_projects'
@import '_contact'
@import '_footer'

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background-color: #fdfbf9

// --- do pomyślenia --//

// h1, h2, h3
//   font-family: $main-font
// *:not(h1, h2, h3)
//   font-family: $secondary-font
